{% extends 'base.html' %}

{% block head %}
<title>Similar Name Suggestor</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Suggest Synonyms for the Name of ?</h1>

    <form action="/dashboard" method="POST">
        <label for="selected_name">Choose Name:</label>
        <input type="text" name="selected_name" id="selected_name">

        <input type="submit" value="Search Name">
    </form>

    {% if targeted_name  %}
        {% if result | length  == 0 %}
        <h4> No similar names found for the underlined name of {{targeted_name}} ! </h4>
        {% else%}
        <div class="search_result" style="width: 320px;padding:20px;float: left;">
            <h4> SpokenName2Vec : {{targeted_name}} </h4>
            <ul>
                {% for candidate in result['spoken_name_2_vec'] %}
{#              <li>{{candidate.candidate}}</li>#}
                    {% if candidate.exclusive == 1 %}
                        <li style="color: green">{{candidate.candidate}}</li>
                    {% else %}
                        <li>{{candidate.candidate}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="search_result" style="width: 320px;padding:20px;float: left;">
            <h4> Family Trees : {{targeted_name}} </h4>
            <ul>
                {% for candidate in result['family_trees'] %}

                    {% if candidate.exclusive == 1 %}
                        <li style="color: green">{{candidate.candidate}}</li>
                    {% else %}
                        <li>{{candidate.candidate}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="search_result" style="width: 320px;padding:20px;float: left;">
            <h4> Soundex : {{targeted_name}} </h4>
            <ul>
                {% for candidate in result['soundex'] %}
              <li>{{candidate.candidate}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="search_result" style="width: 320px;padding:20px;float: left;">
            <h4> Metaphone : {{targeted_name}} </h4>
            <ul>
                {% for candidate in result['metaphone'] %}
              <li>{{candidate.candidate}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="search_result" style="width: 320px;padding:20px;float: left;">
            <h4> Double Metaphone : {{targeted_name}} </h4>
            <ul>
                {% for candidate in result['double_metaphone'] %}
              <li>{{candidate.candidate}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="search_result" style="width: 320px;padding:20px;float: left;">
            <h4> NYSIIS : {{targeted_name}} </h4>
            <ul>
                {% for candidate in result['nysiis'] %}
              <li>{{candidate.candidate}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="search_result" style="width: 320px;padding:20px;float: left;">
            <h4> Match Rating Codex : {{targeted_name}} </h4>
            <ul>
                {% for candidate in result['match_rating_codex'] %}
              <li>{{candidate.candidate}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif%}
    {% endif%}

</div>
{% endblock %}
