{% extends 'base.html' %}

{% block head %}
<title>Similar Name Suggestor</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Update Name</h1>

    <form action="/update/{{user_search.id}}" method="POST">
        <label for="selected_name">Choose Name:</label>
        <input type="text" name="selected_name" id="selected_name" value="{{user_search.selected_name}}">

        <label for="type_name">Choose type of name:</label>
        <select id="type_name" name="type_name">
          <option value="first_name">First Name</option>
          <option value="last_name">Last Name</option>
        </select>

        <label for="language">Choose language:</label>
        <select id="language" name="language">
          <option value="english">English</option>
          <option value="french">French</option>
          <option value="spanish">Spanish</option>
          <option value="italian">Italian</option>
          <option value="chinese">Chinese</option>
          <option value="russian">Russian</option>
        </select>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}
